PagyTable => <%= style_options %>
<table class="<%= style_options[:pagy_table_style] %>">
  <thead>
    <th class="<%= style_options[:pagy_table_th_style] %>">Head 1</th>
    <th class="<%= style_options[:pagy_table_th_style] %>">Head 2</th>
    <th class="<%= style_options[:pagy_table_th_style] %>">Head 3</th>
  <thead>
  <tbody>
    <tr class="<%= style_options[:pagy_table_tr_style] %>">
      <td class="<%= style_options[:pagy_table_td_style] %>">TD1</td>
      <td class="<%= style_options[:pagy_table_td_style] %>">TD2</td>
      <td class="<%= style_options[:pagy_table_td_style] %>">TD3</td>
    </tr>
    <tr class="<%= style_options[:pagy_table_tr_style] %>">
      <td class="<%= style_options[:pagy_table_td_style] %>">TD1</td>
      <td class="<%= style_options[:pagy_table_td_style] %>">TD2</td>
      <td class="<%= style_options[:pagy_table_td_style] %>">TD3</td>
    </tr>
  </tbody>
</table>